.bblk{
	background: url("bg.jpg");
	padding: 10em;
	width: 100%;
	@include box-sizing(border-box);
	
}



.skeu{

	.kk-knobWrap{
		position: absolute;
		top: 1.7em;
		left: 2.6em;
		background-color: transparent;
	}

	.kk-faceWrap{
		width: 11em;
		height: 11em;
		background-color: transparent;
	}

	.kk-movingFace{
		background-color: transparent;
	}
	.kk-center{
		display:none;
	}
	.khantrol-knob{
		float: none;
	}

	.on-light{
		margin: 1em;
		display: none;
		@include border-radius(100px);
	}

	.kk-progress{
		margin-top: 0.9em;
		
	}

	.turned-on .on-light{
		display: block;
		background-color: rgb(87,233,154);
	}

	.holding .base-outline{
@include single-box-shadow(rgba(87,233,154, 1), 0, 0, 6px, 4px);
	}
		.base-outline{
		height: 15em;
		width: 15em;
		background-color: black;
		border: 10px solid black;
		position: relative;
		overflow: hidden;
	}

	.base{

		@include single-box-shadow(rgb(72,72,72), 0, -1px, 3px, 2px, inset);

		background-color: rgb(50,50,50);

		overflow: hidden;
	}
	.base-cover{


        top: 0.2em;
	}

	.middle{
		@include background(
                  linear-gradient(bottom, rgb(10, 10, 10), rgb(40,40,40), rgb(60, 60, 60))
        );

        @include single-box-shadow(rgb(50,50,50), 0, -5px, 8px, 1px);

		height: 13em;
		width: 13em;
		margin: 1em;
		margin-top: 0.8em;
		position: relative;
	}

	.middle-shadow{
		margin-top: 30%;
		        @include single-box-shadow(rgba(15,15,15, 0.7), 0, 0, 12px, 1px);

		background-color: rgba(15,15,15, 0.7);
	}

	.face{
		width: 11em;
		height: 11em;
		margin: 1em;
		margin-top: 0.8em;
		background-color: rgb(50,50,50);

        @include single-box-shadow(rgb(79,79,79), 0, -1px, 3px, 2px, inset);
	}

	.face-cover{



	      @include single-box-shadow(rgba(30,30,30, 0.7), 0, -6px, 3px, 2px, inset);
	    top: 0.2em;
	}

	.main-grad{
			@include background(
	                  linear-gradient(bottom, rgb(30, 30, 30), rgb(50,50,50))
	        );
	}

	.circle{
		@include border-radius(150px);
	}

	.abso{
		position: absolute;
	}

	.match{
		width: 100%;
		height: 100%;
	}

	.oh{
		overflow: hidden;
	}




}